.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
  height: 10vh !important;
}
.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}
.right-icons {
  display: flex;
}
.right-user-info {
  display: flex;
  color: white;
  align-items: center;
  margin-right: 40px;
}
.user-name-text {
  margin-left: 10px;
}
.icon {
  margin-left: 10px;
  cursor: pointer;
}

.search-bar {
  position: relative;
}

.left-user-info {
  display: flex;
  align-items: center;
}

.menu-drop-down {
  display: none;
}
.mobile-menu-item {
  display: flex;
  align-items: center;
}

.logo-style {
  border: 2px solid gainsboro;
}

.center-user-page {
  display: flex;
}

.user-page-icon-container {
  fill: white;
  color: white;
  font-size: 60;
  margin: 0px 40px;
  cursor: pointer;
}

@media only screen and (max-width: 955px) {
  .container-header {
    justify-content: center;
    height: 10vh !important;
  }
  .left {
    margin-left: 120px;
  }
  .right {
    display: none;
  }
  .left-user-info {
    position: relative;
    left: -110px;
  }
  .menu-drop-down {
    display: block;
  }
  .icon {
    margin-left: 8px;
  }
}
