.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.chip-style {
  margin: 10px !important;
  background-color: #eb1b29 !important;
  font-weight: 600;
  color: white !important;
  cursor: pointer !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.gray-chip {
  background-color: gray !important;
}

.green-chip {
  background-color: #0ab804 !important;
}
