.rdw-editor-toolbar{
  width: 50%;
  border-radius: 8px;
  border-color: #9e9d9d;
  position: relative;
  border-width: 0px;
  bottom: 45px;
  padding: 0px;
  background-color: #f9f9f9;
}
.rdw-editor-wrapper {
  border-radius: 4px !important;
  border: 1px solid #707070;
  min-height: 570px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: white;
}
.public-DraftStyleDefault-ltr{
  margin: 0;
}
.rdw-option-wrapper {
  border: 1px solid #5a5a5a;
  padding: 5px;
  min-width: 25px;
  height: 25px;
  border-radius: 2px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
  margin: 0;
}
.rdw-option-wrapper img{
  height: 14px;
  width: 11px;
}

.rdw-inline-wrapper .rdw-option-wrapper:first-of-type{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rdw-remove-wrapper .rdw-option-wrapper:last-of-type{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
