.preview-questions-grid {
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.view-questions-box-title {
  font-size: 20px;
  color: #d0a817;
}

.view-questions-box {
  width: 100%;
}

.view-question {
  margin-top: 10px;
}

.view-questions-title {
  font-size: 18px;
  color: gray;
}

.view-questions-option {
  text-align: left;
  background-color: transparent;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  width: 98%;
  border: 1px solid gray;
  margin-bottom: 7px;
  color: rgb(94, 93, 93);
}
