.reply-card {
  width: 100%;
  box-shadow: 0px 1px 2px gainsboro;
  padding: 20px;
  margin: 5px 0px;
}

.reply-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reply-card-content-left {
  display: flex;
  align-items: center;
}
.reply-text {
  margin-left: 20px;
}
.reply-card-reply-section {
  margin-left: 60px;
}
