.options {
  display: flex;
  flex-wrap: wrap;
}

.chip-style {
  margin: 10px !important;
  background-color: #eb1b29 !important;
  font-weight: 600;
  color: white !important;
  cursor: pointer !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.gray-chip {
  background-color: gray !important;
}

.green-chip {
  background-color: #0ab804 !important;
}

.graph-container {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.graph-container-bar {
  width: 50%;
  text-align: center;
}

.container-graphs {
  display: flex;
  align-items: center;
  flex: 1;
}

.report-chart {
  width: 60%;
  margin: auto;
  margin-top: 70px;
}

.object-tag {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 1600px) {
  .report-chart {
    width: 80%;
    margin: auto;
    margin-top: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .report-chart {
    width: 90%;
    margin: auto;
    margin-top: 70px;
  }
}

@media screen and (max-width: 800px) {
  .report-chart {
    width: 100%;
    margin: auto;
    margin-top: 200px;
  }
}
