.options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50;
}

.chip-style {
  margin: 10px !important;
  background-color: #eb1b29;
  font-weight: 600;
  color: white !important;
  cursor: pointer !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 20px !important;
}

.gray-chip {
  background-color: gray !important;
  margin: 10px !important;
  font-weight: 600;
  color: white !important;
  cursor: pointer !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 20px !important;
}

.green-chip {
  background-color: #0ab804 !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 30px;
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
}

.align-left {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 30px;
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
}

.gallery-image {
  width: 150px;
  height: 150px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .gallery-image {
    width: 80%;
  }
}

.custom-container {
  width: 80%;
  margin-bottom: 80;
}
.custom-icon {
  text-align: center;
  justify-content: center;
  width: 27px;
  border-radius: 5px;
  height: 27px;
  background-color: gray;
}

.media-container {
  flex: 50%;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #464343;
}

/* #f0f2f5 */
