.editor-page-full-container {
  min-height: 100vh;
  background-color: #f9f9f9;
}
.editor-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.editor-side {
  width: 76%;
}
.options-side {
  width: 22%;
}
.ce-title {
  margin: 10px 0px;
  font-weight: 600;
  font-size: 25px;
  outline: none;
  opacity: 0.5;
}
.ce-sub-title {
  margin: 10px 0px;
  font-weight: 600;
  outline: none;
  opacity: 0.5;
}

.editor {
  height: 500px;
}

.chip-style {
  margin: 10px !important;
  background-color: #eb1b29 !important;
  font-weight: 600;
  color: white !important;
  cursor: pointer !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.dates {
  display: flex;
}
.image-preview {
  width: 50px;
  height: 50px;
  box-shadow: 0px 1px 2px gainsboro;
  margin-right: 10px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-buttons-publish {
  display: flex;
}
.flex-button {
  border-radius: 50px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  outline: none;
}

.button-text {
  margin-left: 10px;
}
.publish {
  background-color: #eb1b29;
  color: white;
  font-weight: 600;
}

.preview {
  background-color: grey;
  color: white;
  font-weight: 600;
}

.total-points-text {
  font-size: 13px;
  margin-top: 10px;
  color: red;
  font-weight: 400;
}

.showErrorMessage {
  color: red;
  font-weight: 300;
}

.add-icon-category {
  cursor: pointer;
  position: relative;
  bottom: 40px;
  left: 88%;
}

.featured-image-button {
  margin-left: 20px;
  margin-top: 3px;
}

.last-feature-image {
  border-bottom: 0.5px solid #cecece;
  position: relative;
  top: 10px;
}
