.user-rewards-container {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}
.user-reward-cards {
  display: flex;
  width: 64%;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.user-reward-card {
  margin: 10px;
  box-shadow: 0px 1px 2px gainsboro;
}
