.cfg-tool-of-the-day-container {
  display: flex;
  align-items: center;
}

.cfg-tool-image {
  width: 120px;
  height: 120px;
}
.cfg-tool-text {
  margin-left: 10px;
  font-weight: 600;
}

.right-online-friend {
}
