.cfg-details-box-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cfg-details-box {
  width: 48%;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .cfg-details-box {
    width: 100%;
    margin: 5px;
  }
}
