.menuEnd {
  margin-bottom: 0 !important;
}
.rdt_TableHeadRow {
  border-bottom-width: 0px;
}
.jPffGe{
  bottom: 10px;
}
#customize-datatable .rdt_Table .rdt_TableCell{
  padding:0
}
.fVMMIP div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}