.event-start-date {
  font-size: 16px !important;
  color: #ddb934 !important;
  font-weight: 600;
}

.clock-icon {
  position: relative;
  bottom: 3px;
  right: 3px;
}
.event-date-time {
  text-align: center;
  margin-top: 15px;
}

.event-reminder {
  text-align: center !important;
  margin-top: 15px !important;
}

.react-calendar {
  background-color: #bdbcbc;
  height: 78%;
  padding: 9px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
  font-size: 11px;
  color: white;
  margin-top: 9px;
  padding-top: 15px;
}
