.conversationHeader {
  font-weight: 600;
  font-size: 16px;
  color: #929292;
}
.conversation-child-list {
  list-style-type: none;
  font-size: 12px;
  margin-left: 10px;
  color: #929292;
}

.conversation-child-element {
  margin-top: 10px;
  padding-bottom: 10px;
}

.conversation-container {
  /* position: relative;
  min-height: 1300px; */
}
.conversation-lists {
  position: relative;
  top: -10px;
  left: 72px;
  color: grey !important;
}

.collapse-style {
  height: 200px !important;
  overflow-y: scroll !important;
}

.collapse-style::-webkit-scrollbar {
  width: 5px;
  background-color: gainsboro;
  border-radius: 5px;
}

.collapse-style::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.subtitle {
  list-style-type: none;
  padding-left: 10px;
}

.journal-text {
  position: absolute;
  top: 5%;
  left: 55%;
  color: white;
  width: 43%;
  height: 80%;
  border: 2px solid #e7ddcb;
  opacity: 0.8;
  background-color: #f7f5f3;
  border-radius: 10px;
}

.journey-heading {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: red;
  border-bottom: 2px solid rgb(211 199 172 / 100%);
  margin-bottom: 0px;
}

.journal-list-container {
  overflow-y: scroll;
  height: 220px;
}

.journal-list-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.journal-subject {
  margin: 0;
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 500;
}

.journal-heading {
  margin-bottom: 0;
}

.journal-list-element {
  padding: 5px;
  border-bottom: 2px solid rgb(211 199 172 / 100%);
}

@media screen and (max-width: 600px) {
  .journal-text {
    left: 2.5%;
    width: 95%;
    opacity: 0.8;
    background-color: #f9f3ed;
    height: 85%;
    top: 4%;
  }
}

.MuiListItemIcon-root {
  min-width: 30px !important;
}
.upcoming-event-text {
  padding-left: 20px;
  color: #949494;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}
