.conversationHeader {
  font-weight: 600;
  font-size: 16px;
  color: #929292;
}
.conversation-child-list {
  list-style-type: none;
  font-size: 12px;
  margin-left: 10px;
  color: #929292;
}

.conversation-child-element {
  margin-top: 10px;
  padding-bottom: 10px;
}

.conversation-container {
  /* position: relative;
  min-height: 1300px; */
}
.conversation-lists {
  position: relative;
  top: -10px;
  left: 72px;
  color: grey !important;
}

.collapse-style {
  height: 200px !important;
  overflow-y: scroll !important;
}

.collapse-style::-webkit-scrollbar {
  width: 5px;
  background-color: gainsboro;
  border-radius: 5px;
}

.collapse-style::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.subtitle {
  list-style-type: none;
  padding-left: 10px;
}

.journal-text {
  position: absolute;
  top: 20%;
  left: 60%;
  color: white;
}

.journey-heading {
  font-weight: 500;
  font-size: 20px;
}

.journal-list-container {
  overflow-y: scroll;
  height: 80px;
}

.journal-list-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.journal-subject {
  margin: 0;
  font-size: 12px;
  color: #1c1c1c;
}
