.create-post-app-card-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.create-post-app-card-top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.create-post-input-trigger {
  margin-left: 10px;
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: gainsboro;
  border: none;
  outline: none;
  cursor: text;
}

.create-post-app-card-bottom {
  padding-top: 20px;
  border-top: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
}
.create-post-app-card-bottom-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.app-card-bottom-text {
  margin-left: 10px;
}

.create-post-dialog-action-content {
  display: flex;
  align-items: center;
}
.create-post-button {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #eb1b29;
  color: white;
  outline: none;
}
.MuiDialogActions-root {
  flex: none !important;
  display: block !important;
}
.create-post-action-icons {
  margin: 0px 5px;
  cursor: pointer;
}

.create-post-dialog-user-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.react-input-emoji--button {
  position: relative;
  right: 10px;
  z-index: 100;
}
.react-input-emoji--container {
  background-color: #e5e5e5 !important;
  border: 1px solid darkgray !important;
  border-radius: 40px !important;
  border-color: rgb(234, 234, 234) !important;
  font-size: 15px !important;
  font-family: sans-serif !important;
  padding-top: 5px !important;
}
.react-input-emoji--wrapper {
  padding-right: 25px !important;
}

.bottom-section {
  margin-left: 19px;
}
.react-input-emoji--wrapper {
  padding-right: 25px;
}

.create-post-box-input {
  width: 100%;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  border: none;
  background-color: #e7e7e7;
}

.emoji-container-post {
  position: relative;
  left: 95%;
  top: -30px;
}
.CircularProgressbar {
  width: 6% !important;
  position: absolute;
  left: 90%;
  top: 170px;
}

.picker-emoji {
  width: 50%;
  margin-left: auto !important;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .emoji-container-post {
    left: 93%;
  }
}

@media screen and (max-width: 500px) {
  .emoji-container-post {
    left: 90%;
  }
}

@media screen and (max-width: 500px) {
  .CircularProgressbar {
    width: 6% !important;
    position: absolute;
    left: 85%;
    top: 190px;
  }
}
