.event-card-container {
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px gainsboro;
}
.event-card-container-video {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.event-card-container-text {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.youtube-button {
  -webkit-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 10px;
  border-radius: 10px;
  background-color: #e93f3f;
  color: white;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
