.auth-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: 510px; */
  background-color: white;
}
.main {
  width: 40%;
  box-shadow: 0px 1px 2px gainsboro;
}
.container {
  /* margin: 100px; */
}
.image-container {
  text-align: center;
}

.forms {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.toolbar-container {
  width: 100%;
}

.action-button {
  width: 100%;
  background-color: #eb1b29;
  border: none;
  box-shadow: 0px 1px 2px gainsboro;
  border-radius: 50px;
  padding: 15px;
  color: white;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}

.left-box {
  background-color: #f0f2f5;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons img {
  cursor: pointer;
}

.message-text {
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .left-box {
    display: none;
  }
  .main {
    width: 100%;
  }
}
