.custom-checkbox{
  font-size: 18px; 
  cursor: pointer; 
  padding: 0px; 
  margin-top: 1px; 
  vertical-align: middle; 
  position: relative;
  left: -32px;
}
.container-fluid{
  margin-top: 10px;
}
.username-column{
  position: relative;
  left: 1px;
}
.dash-wrapper{
  width: 88%;
  margin-bottom: 15px;
}

@media screen and (min-width: 900px) {
  .username-column{
    position: relative;
    left: 1px;
  }
  .email-column{
    position: relative;
    left: 5px;
  }
  .name-column{
    position: relative;
    left: 8px;
  }
  .role-column{
    position: relative;
    left: 8px;
  }
  .status-column{
    position: relative;
    left: 18px;
  }
}

 @media screen and (min-width: 1180px) {
  .username-column{
    position: relative;
    left: -2px;
  }
  .name-column{
    position: relative;
    left: 0px;
  }
  .role-column{
    position: relative;
    left: 10px;
  }
}

 @media screen and (min-width: 1310px) {
  .username-column{
    position: relative;
    left: -9px;
  }
  .name-column{
    position: relative;
    left: 0px;
  }
  .role-column{
    position: relative;
    left: 15px;
  }
  .status-column{
    position: relative;
    left: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .username-column{
    position: relative;
    left: -10px;
  }
  .name-column{
    position: relative;
    left: 0px;
  }
  .role-column{
    position: relative;
    left: 20px;
  }
}
@media screen and (min-width: 1460px) {
  .username-column{
    position: relative;
    left: -12px;
  }
  .name-column{
    position: relative;
    left: -10px;
  }
}

@media screen and (min-width: 1515px) {
  .username-column{
    position: relative;
    left: -15px;
  }
}
@media screen and (min-width: 1620px) {
  .username-column{
    position: relative;
    left: -23px;
  }
  .name-column{
    position: relative;
    left: -7px;
  }
  .role-column{
    position: relative;
    left: 20px;
  }
  .status-column{
    position: relative;
    left: 25px;
  }
}
@media screen and (min-width: 1680px) {
  .username-column{
    position: relative;
    left: -21px;
  }
}

@media screen and (min-width: 1700px) {
  .username-column{
    position: relative;
    left: -27px;
  }
  .name-column{
    position: relative;
    left: -8px;
  }
  .role-column{
    position: relative;
    left: 15px;
  }
  .status-column{
    position: relative;
    left: 29px;
  }
}
@media screen and (min-width: 1860px) {
  .username-column{
    position: relative;
    left: -30px;
  }
  .name-column{
    position: relative;
    left: -16px;
  }
  .role-column{
    position: relative;
    left: 22px;
  }
  .status-column{
    position: relative;
    left: 35px;
  }
}
@media screen and (min-width: 1900px) {
  
  .username-column{
    position: relative;
    left: -30px;
  }
  .name-column{
    position: relative;
    left: -12px;
  }
  .role-column{
    position: relative;
    left: 25px;
  }
}
@media screen and (min-width: 1970px) {
  
  .username-column{
    position: relative;
    left: -34px;
  }
  .name-column{
    position: relative;
    left: -15px;
  }
  .status-column{
    position: relative;
    left: 35px;
  }
  
}
@media screen and (min-width: 2050px) {
  
  .username-column{
    position: relative;
    left: -38px;
  }
  .name-column{
    position: relative;
    left: -15px;
  }
  .status-column{
    position: relative;
    left: 40px;
  }
  
}
@media screen and (min-width: 2160px) {
  
  .username-column{
    position: relative;
    left: -40px;
  }
  .name-column{
    position: relative;
    left: -18px;
  }
  .status-column{
    position: relative;
    left: 45px;
  }
  
}
@media screen and (min-width: 2230px) {
  .username-column{
    position: relative;
    left: -45px;
  }
  .name-column{
    position: relative;
    left: -20px;
  }
}
@media screen and (min-width: 2320px) {
  .username-column{
    position: relative;
    left: -47px;
  }
  .name-column{
    position: relative;
    left: -23px;
  }
}
@media screen and (min-width: 2460px) {
  .username-column{
    position: relative;
    left: -56px;
  }
  .name-column{
    position: relative;
    left: -27px;
  }
  .status-column{
    position: relative;
    left: 55px;
  }
}
@media screen and (min-width: 2560px) {
  .username-column{
    position: relative;
    left: -60px;
  } 
  .name-column{
    position: relative;
    left: -30px;
  }
} 

.rdt_TableCell input[type="checkbox"]:after{
  position: relative;
  display: block;

  height: 15px;
  width: 15px;
  content: "";
  background-repeat: no-repeat;
  background-position:center;
}

.rdt_TableCell input[type="checkbox"]:before{
  content: "";
  position: relative;
  display: block;
  width: 15px;
  height: 15px;

}
.rdt_TableCell input[type="checkbox"]:checked:after{
  background-color: black;
  background-image:  url('./ticked.png');
  background-repeat: no-repeat;
  background-size: 15px 15px;
}
/* Large checkboxes */
.rdt_TableCell input{
  height:18px;
  width: 18px;
}

.rdt_TableCell input[type="checkbox"]:before{
  width: 18px;
  height: 18px;
}
.rdt_TableCell input[type="checkbox"]:after{
  top: -18px;
  width: 18px;
  height: 18px;
}

.rdt_TableCell{

}
.username-heading{
  position: relative;
  right: 12px;
}

.custom-checkboxes{
  position: relative;
  right: 3px;
}