.user-connection-container {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.user-connection-container-left {
  width: 22%;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
}
.mobile-connections-view {
  display: none;
}
.user-connection-container-center {
  height: 100vh;
  width: 50%;
  margin-top: 20px;
  overflow-y: scroll;
  padding: 10px;
}
.user-connection-container-right {
  width: 22%;
  height: 100vh;
  overflow-y: scroll;
}
.requests-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.requests-section-list {
  margin-top: 10px;
}

.people-button {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 40px;
  color: white;
  background-color: #d43251;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.people-button-container {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
}

@media only screen and (max-width: 970px) {
  .mobile-connections-view {
    display: block;
  }
  .requests-section-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
